<!DOCTYPE html>
<html ng-controller="Todo as $ctrl">
<head>
	<meta charset="utf-8">
	<title>{{::$ctrl.todo.user}}'s TO DO List</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/ng-cloak.css" rel="stylesheet">
</head>
<body ng-cloak>
	<div class="container">
		<div class="page-header">
			<h1><!--<img class="photo" src="images/VZ.jpg">-->
				{{::$ctrl.todo.user}}'s To Do List
				<span class="label label-default"
				ng-hide="$ctrl.incompleteCount($ctrl.todo.items) === 0"
				ng-class="$ctrl.warningLevel($ctrl.todo.items)">
					{{$ctrl.incompleteCount($ctrl.todo.items)}}
				</span>

			</h1>
		</div>
		<div class="panel">
			<form novalidate name="newTask">
				<div class="form-group">
					<label for="action">Action:</label>
					<div class="input-group">
						<input id="action" name="action" class="form-control" />
						<span class="input-group-btn">
							<button class="btn btn-primary">Add</button>
						</span>
					</div>
				</div>
			</form>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Description</th>
							<th>Done</th>
							<th>Checkbox</th>
							<th class="text-right">Commands</th>
						</tr>
					</thead>
					<tbody>
					<<tr ng-repeat="item in $ctrl.todo.items">
                        <td>{{item.action}}</td>
                        <td><input type="checkbox" ng-model="item.done"></td>
                        <td>{{item.done ? 'Yes' : 'No'}}</td>
                        <td class="text-right">
                            <button
                                type="button"
                                class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"
                                title="Edit"></span>
                            </button>
                            <button
                                type="button"
                                class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                title="Delete"></span>
                            </button>
                        </td>
                    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!--<p ng-bind="$ctrl.myName"></p>
	<p ng-bind-template="{{$ctrl.myName}} - {{$ctrl.myName}}"></p>
	<p ng-bind-html="$ctrl.myHtml"></p>
	<p ng-non-bindable>{{}}</p>-->

	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="app.module.js"></script>
	<script src="app.run.js"></script>
	<script src="services/model.service.js"></script>
	<script src="services/todo.service.js"></script>
	<script src="controllers/todo.controller.js"></script>

</body>
</html>
